/* ******************* */
/* SimpleCitySequence1 */
/* ******************* */

/* Sequence container */
div.simple-city-seq1-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: DarkGray;
  z-index: -2000;
}

/* Background layers*/

/* With SVG images it is slow as hell. With PNG images much better. */

div.background-dessert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;      
  height: 45%;
  overflow: hidden;
  z-index: -1000;
  background: transparent url(background_dessert_1371x530_100dpi.png) repeat-x;
  /* background-size must be established in the code, as it depends on the number
    of slides (is the only way I have found to prevent problems when the user
    has her browser with a "weird" zoom level) */
}

div.background-skyscrapers {
  position: fixed;
  top: 4%;
  left: 0;
  width: 100%;      
  height: 60%;
  overflow: hidden;
  z-index: -700;
  background: transparent url(background_skyscrapers_2225x705_100dpi.png) repeat-x;
  /* background-size must be established in the code, as it depends on the number
     of slides (is the only way I have found to prevent problems when the user
     has her browser with a "weird" zoom level) */ 
}

div.background-houses {
  position: fixed;
  top: 40%;
  left: 0;  
  width: 100%;      
  height: 36%;
  overflow: hidden;
  z-index: -500;
  background: transparent url(background_houses_2814x417_100dpi.png) repeat-x;  
  /* background-size must be established in the code, as it depends on the number
     of slides (is the only way I have found to prevent problems when the user
     has her browser with a "weird" zoom level) */
} 


/* Slide commons for slides in sequence1 */
.simple-city-seq1-slide {
  position: fixed;
  top : 0;
  left: 0;      
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent; 
  z-index: 5000;
}

div.foreground-billboard {
  position: fixed;
  top: 3%;   
  left: 4.5%;      
  width: 91%;      
  height: 21%;
  overflow: hidden;
  z-index: 200;  
  background: transparent url(billboard_1459x249_100dpi.png) no-repeat;
  background-size: 100% 100%; /* We take the full div with the image, no matter what */
} 

div.foreground-billboard-textarea {
  position: absolute; /* this will be relative to the foreground-billboard */
  top: 26.8%;   
  left: 3.7%;      
  width: 92.6%;      
  height: 55.8%;
  overflow: hidden;
  z-index: 201;  
  background: transparent;  
}

/* SLIDE STYLE 1: simple-city-seq1-slide1 */

div.foreground-trafficsign {
  position: fixed;
  top: 30%;   
  left: 4.5%;      
  width: 91%;      
  height: 60%;
  overflow: hidden;
  z-index: 200;  
  /*background: transparent url(billboard_1459x249_100dpi.png) no-repeat;*/
  background: red;
  background-size: 100% 100%; /* We take the full div with the image, no matter what */
}

div.foreground-trafficsign-textarea {
  position: absolute; /* this will be relative to the foreground-trafficsign */
  top: 10%;   
  left: 3.7%;      
  width: 92.6%;      
  height: 80%;
  overflow: hidden;
  z-index: 201;  
  background: transparent;  
} 

h1.simple-city-seq1-slide1 {
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin:0 auto;   
  color: #111111;
  
  line-height: 1;
  font-weight: normal;
  font-family: Impact, Charcoal, sans-serif;
  
  /* It seems that jSlabify does not take into consideration shadows to measure
  font sizes so characters like p do not have full shadows... */ 
  /*text-shadow: 1px 1px 2px #333333;*/      
}

h2.simple-city-seq1-slide1 { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /*margin:0 auto;*/   
  color: #EEEEEE;
  
  line-height: 1;
  font-weight: normal;
  font-family: Impact, Charcoal, sans-serif;
}

h3.simple-city-seq1-slide1 {      
  width: 35%;
  margin:0 auto;
  color: white;
}

ul.simple-city-seq1-slide1 {
	list-style-type: square;
	
	
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin:0 auto;
     
 color: #EEEEEE;
  line-height: 1;
  font-weight: normal;
  font-family: Impact, Charcoal, sans-serif;
  
  
  	
}

li.simple-city-seq1-slide1 {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
    
/*  color: #EEEEEE;*/
  line-height: 1;
  font-weight: normal;
  font-family: Impact, Charcoal, sans-serif;
  
}

/* ************************** */
/* End of SimpleCitySequence1 */
/* ************************** */