/* Style basics */
div.simple-city-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: DarkGray;
  z-index: -2000;
}

/* Background layers*/

/* With SVG images it is slow as hell. With PNG images much better. */

div.background-dessert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;      
  height: 45%;
  overflow: hidden;
  z-index: -1000;
  background: transparent url(background_dessert_1371x530_100dpi.png) repeat-x;
  /* background-size must be established in the code, as it depends on the number
    of slides (is the only way I have found to prevent problems when the user
    has her browser with a "weird" zoom level) */
}

div.background-skyscrapers {
  position: fixed;
  top: 4%;
  left: 0;
  width: 100%;      
  height: 60%;
  overflow: hidden;
  z-index: -700;
  background: transparent url(background_skyscrapers_2225x705_100dpi.png) repeat-x;
  /* background-size must be established in the code, as it depends on the number
     of slides (is the only way I have found to prevent problems when the user
     has her browser with a "weird" zoom level) */ 
}

div.background-houses {
  position: fixed;
  top: 40%;
  left: 0;  
  width: 100%;      
  height: 36%;
  overflow: hidden;
  z-index: -500;
  background: transparent url(background_houses_2814x417_100dpi.png) repeat-x;  
  /* background-size must be established in the code, as it depends on the number
     of slides (is the only way I have found to prevent problems when the user
     has her browser with a "weird" zoom level) */
} 


/* Slide commons (for several or all types of slides in the style) */
.simple-city-slide-common {
  position: fixed;
  top : 0;
  left: 0;      
  width: 100%;
  overflow: hidden;
  background: transparent; 
  z-index: 5000;
}

div.foreground-billboard {
  position: fixed;
  top: 3%;   
  left: 4.5%;      
  width: 91%;      
  height: 21%;
  overflow: hidden;
  z-index: 200;  
  background: transparent url(billboard_1459x249_100dpi.png) no-repeat;
  background-size: 100% 100%; /* We take the full div with the image, no matter what */
} 


/* SLIDE STYLE 1: simplecity-slide-style-1 */

h1.simplecity-slide-style-1 {      
  width: 50%;
  margin:0 auto;   
  color: white;
}

h2.simplecity-slide-style-1 {
  width: 40%;
  margin:0 auto;
  color: white;
}

h3.simplecity-slide-style-1 {      
  z-index: 2000;
  width: 35%;
  margin:0 auto;
  color: white;
}